﻿
@{
    ViewBag.Title = "Home";
    
}
<style>
    
</style>
<h2>Home</h2>

<div class="jumbotron">
    <h1>Medicine Monitoring</h1>
    <p class="lead">
        Welcome to MedicineMonitoring.com! India's Leading Online Pharmacy!
        With a dynamic legacy of over 100 years in the pharma business, it comes as no surprise that Medicine Monitor is the first choice of over 4 million+ satisfied customers when it comes to an online pharmacy in India.
        MedicineMonitoring.com has a pan India presence as we deliver health care essentials to every state in the country. We take your health seriously at Netmeds.com.
        Be it purchasing medicines online, lab tests or online doctor consultations, we've got it all covered for our customers!
    </p>
    
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Buying medicines online</h2>
        <p>
            At Netmeds.com, we ensure that you get high-quality life-saving medicines are delivered to you on time. 
            Order medicines online at your convenience from across the country. 
            We also deliver Ayurvedic, Homeopathic, Unani and Over-The-Counter (OTC) products to over 19,000 pin codes across the country!
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301870">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Medicine Subscription</h2>
        <p>Remembering to refilling medicines month on month to address chronic conditions can be a hassle. Netmeds' subscription service will ensure that you never run out of these vital medicines. 
        Just set it up and your medicines will get refilled and delivered automatically every month to your doorstep!</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301871">Learn more &raquo;</a></p>
    </div>
    
</div>