﻿@model MedicineMonitoring.Models.User

@{
    ViewBag.Title = "RequestDetails";
}

<h2>Request Details</h2>

<table class="table">

    @using (Html.BeginForm())
    {

        @Html.AntiForgeryToken()

        <tr>
            <td>
                @Html.DisplayNameFor(model => model.FirstName)
            </td>
            <td>
                @Html.TextBoxFor(modelItem => Model.FirstName, new { @readonly = "true" })
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.LastName)
            </td>

            <td>
                @Html.TextBoxFor(modelItem => Model.LastName, new { @readonly = "true" })
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.DOB)
            </td>
            <td>
                @Html.TextBoxFor(modelItem => Model.DOB, new { @readonly = "true" })
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Gender)
            </td>

            <td>
                @Html.TextBoxFor(modelItem => Model.Gender, new { @readonly = "true" })
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.UserId)
            </td>
            <td>
                @Html.TextBoxFor(modelItem => Model.UserId, new { @readonly = "true" })
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Password)
            </td>
            <td>
                @Html.TextBoxFor(modelItem => Model.Password, new { @readonly = "true" })
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Email)
            </td>
            <td>
                @Html.TextBoxFor(modelItem => Model.Email, new { @readonly = "true" })
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.ContactNo)
            </td>

            <td>
                @Html.TextBoxFor(modelItem => Model.ContactNo, new { @readonly = "true" })
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.BranchId)
            </td>
            <td>
                @Html.TextBoxFor(modelItem => Model.BranchId, new { @readonly = "true" })
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Branch.BranchName)
            </td>

            <td>
                @Html.TextBoxFor(modelItem => Model.Branch.BranchName, new { @readonly = "true" })
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Branch.BranchAddress)
            </td>
            <td>
                @Html.TextBoxFor(modelItem => Model.Branch.BranchAddress, new { @readonly = "true" })
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Approve)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.Approve)
            </td>
        </tr>
        <tr>

            <td>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Approve" class="btn btn-default" />
                    </div>
                </div>
            </td>
            
        </tr>
    }

    </table>

