﻿@model IEnumerable<MedicineMonitoring.Models.Branch>

@{
    ViewBag.Title = "Request";
}

<h2>Request Details</h2>
@{if (ViewBag.msg == 1)
    {
        <h4>No pendending Request!!!</h4>
    }
    else
    {

<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.RequestId)
        </th>
        <th>
            @Html.DisplayName("Action")
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.RequestId)
            </td>
            <td>
                @Html.ActionLink("View Details", "RequestDetails", new { id = item.BranchId })
            </td>

        </tr>

    }



</table>
        }
    }
@Html.ActionLink("Back to Home", "Home")