﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Medicine Monitoring</title>
    

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    
    <div class="navbar navbar-inverse navbar-fixed-top " >
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Medicine Monitoring", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @{ if (User.IsInRole("Admin"))
                        {
                            <li>@Html.ActionLink("Home", "Home", "Admin")</li>
                            <li>@Html.ActionLink("Request Information", "Request", "Admin")</li>
                            <li>@Html.ActionLink("Medicine Information", "MedList", "Medicine")</li>
                            <li>@Html.ActionLink("Medicine Stock Information", "StockList", "Medicine")</li>
                            <li>@Html.ActionLink("Branch Stock Information", "BranchStock", "Medicine")</li>
                            <li>@Html.ActionLink("LogOut", "Logout", "Account")</li>
                        }
                        else if (User.IsInRole("BranchAdmin"))
                        {
                            <li>@Html.ActionLink("Home", "Home", "Admin")</li>
                            <li>@Html.ActionLink("Medicine Information", "MedList", "Medicine")</li>
                            <li>@Html.ActionLink("Medicine Stock Information", "StockList", "Medicine")</li>
                            <li>@Html.ActionLink("LogOut", "Logout", "Account")</li>
                        }
                        else if (User.IsInRole("Customer"))
                        {

                            <li>@Html.ActionLink("Search Page", "SearchMedicine", "Customer")</li>
                            <li>@Html.ActionLink("LogOut", "Logout", "Account")</li>
                        }
                        else
                        {

                            <li> @Html.ActionLink("Register", "Index", "Home") </li>
                            <li> @Html.ActionLink("Login", "Login", "Account") </li>
                          

                        }
                    }
                </ul>
            </div>
        </div>
    </div>
   
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Medicine Monitoring Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
