﻿@model IEnumerable<MedicineMonitoring.Models.Cart>

@{
    ViewBag.Title = "CartList";
}

<h2>CartList</h2>


<table class="table">
    <tr>
        
        <th>
            @Html.DisplayNameFor(model => model.MedName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Subtotal)
        </th>
        <th></th>
    </tr>
@{ string UserId = "";}
@foreach (var item in Model) {
<tr>
    


    <td>
        @Html.DisplayFor(modelItem => item.MedName)
        @{ UserId = item.UserId; }
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Cost)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Quantity)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Subtotal)
    </td>
    <td>


        @Html.ActionLink("Delete", "DeleteCart", new { id = item.CartId })
    </td>
</tr>
}

</table>
<div>
    <button> @Html.ActionLink("Back to Search List", "SearchMedicine")</button>|<button> @Html.ActionLink("Order", "AddToOrder",new { id = UserId })</button>
</div>
