﻿
@{
    ViewBag.Title = "OrderDisplay";
}
<h1>Your Order Confirmed Successfully</h1>

<h4>Your Order Details</h4>
<p>
    Order Id:@ViewBag.OrderId <br />
    Order Date:@ViewBag.OrderDate<br />
    Payment Mode:@ViewBag.PaymentMode<br />
    Delivery Address:@ViewBag.DeliveryAddress<br />
    Total Price:@ViewBag.GrandTotal
</p>
<table>
    <tr>
        <th>Medicine Name&nbsp;&nbsp;&nbsp;</th>
        <th>Medicine Price&nbsp;&nbsp;&nbsp;</th>
        <th>Medicine Quantity&nbsp;&nbsp;&nbsp;</th>
        <th> SubTotal</th>
    </tr>

    @{foreach (var x in ViewBag.Items)
        {
        <tr>
                <td>@x.MedicineName&nbsp;&nbsp;&nbsp;</td>
                <td>@x.Price&nbsp;&nbsp;&nbsp;</td>
                <td>@x.Quantity&nbsp;&nbsp;&nbsp;</td>
                <td>@x.Total</td>
        </tr>
            } }

        </table>
<div>
    @Html.ActionLink("Back to Shopping", "SearchMedicine")| @Html.ActionLink("LogOut", "Logout","Account")
</div>
