﻿@model IEnumerable<MedicineMonitoring.Models.Medicine>

@{
    ViewBag.Title = "SearchMedicine";
}


<h2>Search Medicine</h2>
@{ if (Model == null)
    {
        using (Html.BeginForm())
        {
    
    <div class="form-inline">
        <input class="form-control" type="text" name="MedicineName" placeholder="Medicine Name or Type">

        <button class="btn btn-success" type="submit">Search</button>
    </div>
        }
    }
    else
    {

        using (Html.BeginForm())
        {
            <div class="form-inline">
                <input class="form-control" type="text" name="MedicineName" placeholder="Medicine Name or Type">
              
                <button class="btn btn-success" type="submit">Search</button>
            </div>
        }
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.MedName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Manufacturer)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Disease)
                </th>
               
                <th>
                    @Html.DisplayNameFor(model => model.ManufactureDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ExpiryDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.cost)
                </th>
               
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.MedName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Manufacturer)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Disease)
                    </td>
                   
                    <td>
                        @Html.DisplayFor(modelItem => item.ManufactureDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ExpiryDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.cost)
                    </td>
                    <td>
                        @Html.ActionLink("Add To Cart", "AddToCart", "Customer", new { id =item.MedId},null)
                    </td>
                   
                </tr>
            }


        </table>
    }
}



