﻿@model IEnumerable<MedicineMonitoring.Models.Branch>

@{
    ViewBag.Title = "BranchStock";
}

<h2>Branch Stock Details</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BranchId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BranchName)
        </th>
      
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.BranchId, "ViewEachBranchStock", new { id = item.BranchId })
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.BranchName)
        </td>
       
    </tr>
}

</table>
