﻿@model MedicineMonitoring.Models.Medicine

@{
    ViewBag.Title = "EditStock";
}
@{ if (ViewBag.Message != null)
    {
        <h1>@ViewBag.Message</h1>

    }
    else
    {
        <h2>Edit Stock</h2>

        using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Medicine</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.MedId)
    @Html.HiddenFor(model => model.Disease)
    @Html.HiddenFor(model => model.Manufacturer)
    @Html.HiddenFor(model => model.BranchAvaliable)
    @Html.HiddenFor(model => model.Address)
    @Html.HiddenFor(model => model.ManufactureDate)
    @Html.HiddenFor(model => model.ExpiryDate)
    @Html.HiddenFor(model => model.cost)


    <div class="form-group">
        @Html.LabelFor(model => model.MedName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.MedName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.MedName, "", new { @class = "text-danger" })
        </div>
    </div>



    <div class="form-group">
        @Html.LabelFor(model => model.quantity, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.quantity, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.quantity, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
            }
        }
    }
        <div>
            @Html.ActionLink("Back to List", "StockList")
        </div>
