﻿@model IEnumerable<MedicineMonitoring.Models.Medicine>

@{
    ViewBag.Title = "StockList";
}

<h2> Medicine Stock List</h2>

@{if (ViewBag.msg == 1)
    {
        <h4>Empty Stock List</h4>
    }
    else
    {
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.MedName)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.quantity)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.MedName)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.quantity)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "EditStock", new { id = item.MedId })

                    </td>
                </tr>
            }

        </table>
    }
}