﻿@model MedicineMonitoring.Models.User
@{
    ViewBag.Title = "Home Page";
}

 @using (Html.BeginForm())
        {
@Html.AntiForgeryToken()

<div style="align-content:center">
    <div class="form-horizontal">
        <h4>Select Roles for Registration</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(mode => Model.Usercategory, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="dropdown">
                @Html.EnumDropDownListFor(mode => Model.Usercategory, "Select Roles", new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(mode => Model.Usercategory, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Register" class="btn btn-default" />
            </div>

        </div>
    </div>
</div>
    }

